@using EmployeesCh12.ViewModels
@model IEnumerable<DepartmentGroup>

@{
    ViewData["Title"] = "Department Statistics";
}

<h2>Department Statistics</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Department ID</th>
            <th># Employees</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentID</td>
                <td>@item.DepartmentCount</td>
            </tr>
        }
    </tbody>
</table>
