@model EmployeesCh12.Models.DepartmentLocation

@{
    ViewData["Title"] = "Details";
}

<h1>Department Location Details</h1>

<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Department)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Department.Name)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Location)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Location.Address)
    </dd>
</dl>

<div>
    <a asp-action="Index">Back to List</a>
</div>
