@model EmployeesCh12.Models.DepartmentLocation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DepartmentLocation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Model.Department?.Name
        </dd>

        <dt class="col-sm-2">
            Location
        </dt>
        <dd class="col-sm-10">
            @Model.Location?.Address
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-DepartmentID="@Model.DepartmentID" asp-route-LocationID="@Model.LocationID">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
